ion-content{

    --background: url(https://static.vecteezy.com/system/resources/previews/006/786/661/original/soft-gradation-abstract-in-pastel-colorful-gradient-style-gradient-background-blurred-gradient-texture-decorative-elements-dark-green-cloud-wallpaper-free-vector.jpg) ;
    display: flex;
    justify-content: center;
    }
    