.toast-success {
    --background: #4CAF50; // Color de fondo para el toast de éxito
    --color: #FFFFFF; // Color de texto para el toast de éxito
  }
  
  .toast-error {
    --background: #F44336; // Color de fondo para el toast de error
    --color: #FFFFFF; // Color de texto para el toast de error
  }
  
.formulario{
    padding-top: 30%;
}

.boton{
    padding-top: 50px;
}