.divFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.manual{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto{
display: flex;
align-items: center;
text-align: center;
}